.bl-input {
    margin-top: 10px;
    width: 95%;
    height: 50px;
}
.margin-top-50{
    margin-top: 50px;
}
.bl-btn-fill {
    background-color: #004AAD;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: 50px;
    margin-right: 20px;
}
.bl-btn-light {
    background-color: #007cad;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: 50px;
    margin-right: 20px;
}
.is-center {
    margin-left: 30%;
}
.main-container {
    display: flex;
}