.bl-input {
    margin-top: 10px;
    width: 95%;
    height: 50px;
}
.margin-top-50{
    margin-top: 50px;
}
.bl-btn {
    background-color: #004AAD;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.is-center {
    margin-left: 40%;
}