.logo-and-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header{
    background-color: #004AAD;
    position: relative;
    color: #fff;
    padding: 10px;
    height: 50px;
}
.header-a{
    text-decoration-line: none;
    padding-left: 10px;
}
.header-text{
    color: white;
}
.header-userinfo{
    padding-left: -100px;
    color: #ffffffd9;
    &:hover{
        color: white;
    }
}